<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<script src="js/angular.min.js"></script>
<style>
    pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
    .string { color: green; }
    .number { color: darkorange; }
    .boolean { color: blue; }
    .null { color: magenta; }
    .key { color: red; }
</style>
</head>
<body>

	<div ng-controller="MyCtrl">
		<button ng-click="get(getUrl)">GET</button>
		<input type="text" ng-model="getUrl" style="width: 30%;"></input><br />
		<button ng-click="post(postUrl)">POST</button>
		<input type="text" ng-model="postUrl" style="width: 30%;"></input><br />
		<textarea rows="10" cols="60" ng-model="body"></textarea><br />
		<pre id="result"></pre>
	</div>

	<script type="text/javascript">
		var app = angular.module('myApp', []);
		app.controller('MyCtrl', function($scope, $http) {
			$scope.post = function(url) {
				var body = $scope.body;
				if (body == null) {
					body = {};
				}
				$http.post(url, body).success(function(data) {
					document.getElementById("result").innerHTML = syntaxHighlight(data);
				}).error(function(data) {
					$scope.data = data;
				});
			}
			
			$scope.get = function(url) {
				$http.get(url).success(function(data) {
					document.getElementById("result").innerHTML = syntaxHighlight(data);
				}).error(function(data) {
					$scope.data = data;
				});
			}
			
			function syntaxHighlight(json) {
			    if (typeof json != 'string') {
			        json = JSON.stringify(json, undefined, 2);
			    }
			    json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
			    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function(match) {
			        var cls = 'number';
			        if (/^"/.test(match)) {
			            if (/:$/.test(match)) {
			                cls = 'key';
			            } else {
			                cls = 'string';
			            }
			        } else if (/true|false/.test(match)) {
			            cls = 'boolean';
			        } else if (/null/.test(match)) {
			            cls = 'null';
			        }
			        return '<span class="' + cls + '">' + match + '</span>';
			    });
			}
		});
	</script>
</body>
</html>
